/* events.css */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("/images/shine 2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #0e4d1b;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1e721e;
    margin-top: 20px;
    font-size: 2.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

li {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

strong {
    color: #105c23;
}

li strong::after {
    content: " ";
}

li br {
    margin-bottom: 10px;
}
