body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    background-image: url("/images/shine 2.JPG"); /* Replace with your background image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffffcf;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    animation: fade-in 3s forwards; 
  }
  
@keyframes fade-in {
  from {
      opacity: 0; 
  }
  to {
      opacity: 1; 
  }
}
  
  h1 {
    text-align: center;
    color: #105c23f7;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #105c23f7;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color:  #105c23f7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
  }
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
  }
  