/* login.css */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("/images/shine 2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  label{
    color: #0e4d1b;
  }
#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1e721e;
}

form {
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

input[type="email"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #105c23;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

button[type="submit"]:hover {
    background-color: #0e4d1b;
}

#sign a {
    color: green;
    text-decoration: none;
}

#sign a:hover {
    text-decoration: underline;
}
