body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("/images/shine 2.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
#overlay{
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 10px;
    width: 12cm;
    height: 10cm;
    margin-top: 2cm;
    z-index: 1;
    overflow: hidden;
}
#overlay h1{
    z-index: 2;
    color: rgb(30, 114, 30);
}

input{
    width: 7cm;

}
label{
    color: rgb(24, 92, 24);
    margin-left: -5.3cm;
}
#pass{
    margin-left: -160px;
}
#email{
    margin-left: 0cm;
}
h5{
    color: green;
    margin-top: 1cm;
}

button{
    margin-top: 0.4cm;
    background-color: #105c23f7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}
